.container {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 540px;
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: x-large;
}

.errorText {
  color: red;
  font-size: 0.875rem; /* 14px */
}

.btnBox {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem; /* 16px */
}
