.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tables {
  display: flex;
  flex-direction: column;
}

.top_table,
.bottom_table {
  overflow-x: auto;
}

.top_table {
  margin-bottom: 50px;
}
